:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 16px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
  margin: 50px;
  background-position: fixed;
}

input[type=number] {
  width: 40px;
}

.rowColour{display:flex; flex-direction:row; margin-right: 0; height:300px;}

