@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      display:flex;
      flex-direction:row;
      width: 50%;
  	  margin: 0 auto;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    
  }